{% extends 'nav.html' %}
{% block content %}

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:580px; margin-top:25px;">
          <article class="card-body shadow">
            <!-- messages rendering -->
            <header class="mb-4"><h3 class="card-title">Register</h3></header>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{message}}</strong>
                            </div>
                        {% else %}
                        <div></div>
                        {% endif%}
                    {% endfor %}
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                                {{form.first_name}}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                                {{form.last_name}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Username</label>
                                {{form.username}}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Email</label>
                                {{form.email}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Create password</label><br>
                                {{form.password1}}
                            <!-- <input class="form-control" type="password"> -->
                        </div> <!-- form-group end.// -->   
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Repeat password</label><br>
                                {{form.password2}}
                            <!-- <input class="form-control" type="password"> -->
                        </div> <!-- form-group end.// -->   
                    </div>

                    <!-- form validation errors rendering to template -->
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{error}}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                        
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user-plus"></i>&emsp13;Register</button>
                    </div> <!-- form-group// -->     
                    
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>

{% endblock content %}